.aboutus{
  background:url(../../../assets/images/banners/Newabout.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  &__overlay{
    opacity: .85;
    background-image: linear-gradient(-180deg,rgba(0,0,0,.46) 0,#000 100%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
  &__title{
    color: #fff;
    z-index: 1;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
  }
}

.infigrade{
  z-index: 1;
  &__modeoflearning{
    display: flex;
    justify-content: center;
    padding: 25px 0 0 0;
    &__title{
      font-weight: 400;
      color:#444;
    }
    &__title:after{
      content: '.';
      display: block;
      height: 1px;
      width: 90px;
      margin: 8px auto;
      text-indent: -9999px;
      border-top: 3px solid #8b53a2;
    }
    &__customcard{
      margin: 10px;
      padding: 40px 0;
      &__image{
        height: 100px;
        width: 100px;
        margin: 0 auto;
        padding: 10px;
      }
      &__title{
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }
    }
}
}


.bodysection{
  z-index: 1;
  padding: 50px 0;
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .aboutus{
    height:460px;
  }
  .infigrade{
    &__modeoflearning{
      &__title{
        font-weight: 400;
        color:#444;
      }
    }
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .aboutus{
    height:405px;
  }
  .infigrade{
    &__modeoflearning{
      &__title{
        font-weight: 400;
        color:#444;
      }
    }
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .aboutus{
    height:330px;
  }
  .infigrade{
    &__modeoflearning{
      &__title{
        font-weight: 400;
        color:#444;
      }
    }
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .aboutus{
    height:330px;
  }
  .infigrade{
    &__modeoflearning{
      &__title{
        font-weight: 400;
        color:#444;
      }
    }
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .aboutus{
    height:200px;
  }
  .infigrade{
    &__modeoflearning{
      &__title{
        font-weight: 400;
        color:#444;
      }
    }
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .aboutus{
    height:155px;
  }
  .infigrade{
    &__modeoflearning{
      &__title{
        font-weight: 400;
        color:#444;
      }
    }
  }
}




