
<section class="aboutus">
    <h2>About Us</h2>
</section>

<section class="container">
    <h3>About Infigrade</h3>
    <p>Infigrade Private Limited is one of the leading training providers based in Bangalore, India.
       We help students, professionals and corporate across all industries and sectors to achieve their career goals,
        develop new proficiency and link their skill gap for recognition and progress in the global corporate world.
    </p>
    <p>
        Infigrade established with the aim of delivering high-value training through advanced and practical methodologies,
         we offer an extensive range of services in training,
         learning and development in the fields of management and technology.
    </p>
</section>

<section class="container">
    <h3>How we do it</h3>
    <p>For Students : We are fully equipped to fill the students with the knowledge of top trending courses which can be applied in banking , financial services, IT, HR, marketing, and many more industries. The courses offered form Infigrade benefit the students to gain valuable skills, experience and knowledge which can be applicable in professional environment.
      </p>
    <p>
        For Corporate and Professionals - In present corporate world, executives and professionals required to keep themselves updated on the latest skills, technologies, and management principles frequently. Infigrade work closely with Learning and Development team to understand the company's requirements and craft tailored training solutions that suits their exact requirements.
    </p>
</section>

<section class="container">
  <div class="row m-0">
      <h3>How we do it</h3>
  </div>
 <div class="row m-0">
    <div class="col-md-6">
        <div class="card infigrade__modeoflearning__customcard">
          <img src="../../../assets/images/classroom-training.png" class="infigrade__modeoflearning__customcard__image">
          <p class="infigrade__modeoflearning__customcard__title">Class room training</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card infigrade__modeoflearning__customcard">
          <img src="../../../assets/images/lvc.png" class="infigrade__modeoflearning__customcard__image">
          <p class="infigrade__modeoflearning__customcard__title">Live online training</p>
        </div>
    </div>
</div>
</section>
