
<section class="aboutus">
    <div class="aboutus__overlay"></div>
    <div class="aboutus__title">About Us</div>
</section>
<div class="bodysection">
<section class="container">
    <h3>About Infigrade</h3>
    <p>Infigrade Private Limited is one of the leading training providers based in Bangalore, India. We help students, professionals and corporate across all industries sectors to achieve their career goals. Infigrade focus on creating industry relevant programs and crafting learning experiences that help candidates learn, apply and link their skill gap for recognition and progress in the global corporate world.
    </p>
    <p>
            Infigrade established with the aim of delivering high-value training through advanced and practical methodologies, we offer an extensive range of services in training, learning and development in the fields of IT Technical, Personal Development, Human Resources and Management courses, Programme and IT Service management. Our courseware ranges in all the fields such as Digital Marketing , National Institute of Securities markets (NISM 8, 5A,10A,10B), Six Sigma, Advance Excel, Tally ERP & GST, Big Data HADOOP,  Ruby on Rails, Ethical Hacking, Devops, Cloud Computing, IOT, AWS, Machine Learning, Artificial Intelligence, Blockchain, Python, Sales Force, Data Science, Software Testing (Manual & Automation tools), Microsoft Azure, IBM SPSS Tool, PHP & Mysql, Java, c++  and many more….
    </p>
</section>

<section class="container">
    <h3>Our Trainers</h3>
    <p>Trainers at Infigrade have rich years of experience and use real-time scenarios that describe the real-world applications. They are certified professionals and helps students to understand the topic easily and efficiently. Students will gain valuable experience even before they enter the workforce and we help them to stay at the top of their careers.</p>
    <h3>Our Vision</h3>
    <p>
            To be the premier source for training and a leading global training provides that offers end to end training and development solutions to create experts and leaders.
    </p>
    <h3>Our Mission</h3>
    <p>Infigrade mission is to emphasis on technical excellence and provide opportunities to develop both the skills and competencies essential for success and leadership in the emerging corporate world</p>
</section>
</div>
<!-- <section class="container">
  <div class="row m-0">
      <h3>How we do it</h3>
  </div>
 <div class="row m-0">
    <div class="col-md-6">
        <div class="card infigrade__modeoflearning__customcard">
          <img src="../../../assets/images/banners/classroom.png" class="infigrade__modeoflearning__customcard__image">
          <p class="infigrade__modeoflearning__customcard__title">Class room training</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card infigrade__modeoflearning__customcard">
          <img src="../../../assets/images/banners/online.png" class="infigrade__modeoflearning__customcard__image">
          <p class="infigrade__modeoflearning__customcard__title">Live online training</p>
        </div>
    </div>
</div>
</section> -->
