<div class="infigrade">
<section class="infigrade__banner-section">
    <!-- <div class="container">
        <div class="col-lg-7">
          <div class="card card-transparent">
          <h2>Get Trained Today. Lead Tomorrow.</h2>
          <div class="input-group mb-3">
            <input type="text" class="form-control infigrade__banner-section__input">
            <div class="input-group-prepend">
              <span class="input-group-text infigrade__banner-section__button">Search</span>
            </div>
          </div>
        </div>
        </div>
    </div> -->
</section>



<section class="container">
<div class="infigrade__why">
  <div class="row m-0 infigrade__why__titlecontainer">
      <h2 class="infigrade__why__titlecontainer__title">Why Choose us ?</h2>
  </div>
  <div class="row m-0">

    <div class="col-md-6 col-lg-4">
      <div class="card infigrade__why__customcard">
        <img src="../assets/images/accredited-courseware.png" class="infigrade__why__customcard__image">
        <p class="infigrade__why__customcard__title">Accredited Courseware</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card infigrade__why__customcard">
          <img src="../assets/images/customer-support.png" class="infigrade__why__customcard__image">
          <p class="infigrade__why__customcard__title">24X7 Customer Support</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
          <div class="card infigrade__why__customcard">
            <img src="../assets/images/world-class-trainers.png" class="infigrade__why__customcard__image">
            <p class="infigrade__why__customcard__title">Best in business Trainers</p>
          </div>
      </div>
  </div>
</div>
</section>
<section class="container">
<div class="row m-0 infigrade__modeoflearning">
      <h2 class="infigrade__modeoflearning__title">Mode of Learning</h2>
</div>
<div class="row m-0">
    <div class="col-md-6 col-lg-4">
        <div class="card infigrade__modeoflearning__customcard">
          <img src="../assets/images/classroom-training.png" class="infigrade__modeoflearning__customcard__image">
          <p class="infigrade__modeoflearning__customcard__title">Class room training</p>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card infigrade__modeoflearning__customcard">
          <img src="../assets/images/lvc.png" class="infigrade__modeoflearning__customcard__image">
          <p class="infigrade__modeoflearning__customcard__title">Live online training</p>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card infigrade__modeoflearning__customcard">
          <img src="../assets/images/e-learning.png" class="infigrade__modeoflearning__customcard__image">
          <p class="infigrade__why__customcard__title">E-Learinig</p>
        </div>
    </div>
</div>
</section>

<section class="container">
<div class="row m-0 infigrade__courses">
      <h2 class="infigrade__courses__title">Coureses</h2>
</div>

<div class="row m-0">
  <drag-scroll #courses>
    <div class="courseitem" *ngFor="let course of listOfCourses;">
        <img drag-scroll-item [src]="course.imageUrl"/>
        <p class="courseitem__title">{{course.name}}</p>
    </div>
  </drag-scroll>
</div>
</section>

<section class="container">
    <div class="row m-0 infigrade__clients">
        <h2 class="infigrade__clients__title">Clients</h2>
    </div>
    <div class="row m-0">
        <drag-scroll #clients>
          <div class="clienteitem" *ngFor="let client of listOfClients;">
              <img drag-scroll-item [src]="client.imageUrl"/>
          </div>
        </drag-scroll>
      </div>
</section>

<!-- <section class="container">
<div class="infigrade__aboutus">
  <h2 class="infigrade__aboutus__title">About us</h2>
</div>
</section> -->

</div>
