<router-outlet></router-outlet>
<div class="infigrade">
  <section class="infigrade__header">
      <div class="infigrade__header__logo">
          LOGO
      </div>
      <div class="infigrade__header__moreinfo">
           MoreInfo
      </div>
  </section>
  <section class="infigrade__banner-section">
          <div class="container">
              <div class="col-lg-7">
                <div class="card card-transparent">
                <h2>Get Trained Today. Lead Tomorrow.</h2>
                <div class="input-group mb-3">
                  <input type="text" class="form-control infigrade__banner-section__input">
                  <div class="input-group-prepend">
                    <span class="input-group-text infigrade__banner-section__input">Search</span>
                  </div>
                </div>
              </div>
              </div>
          </div>
  </section>



  <section class="container">
    <div class="infigrade__why">
        <h2 class="infigrade__why__title">Why Choose us ?</h2>
        <div class="row m-0">
          <div class="col-md-6 col-lg-3">
            <div class="card">
                  
            </div>
          </div>
        </div>
    </div>
  </section>
  <section class="container">
      <div class="infigrade__modeoflearning">
            <h2 class="infigrade__modeoflearning__title">Mode of Learning</h2>
      </div>
  </section>
  <section class="container">
      <div class="infigrade__courses">
            <h2 class="infigrade__courses__title">Coureses</h2>
      </div>
  </section>

  <section class="container">
      <div class="infigrade__solutions">
           <h2 class="infigrade__solutions__title">Solutions</h2>
      </div>
  </section>

  <section class="container">
    <div class="infigrade__aboutus">
        <h2 class="infigrade__aboutus__title">About us</h2>
    </div>
  </section>


</div>

