
<div class="infigrade">
  <header>
  <section class="infigrade__header">
      <div class="col-4 infigrade__header__logo" (click)="navigatetoGivenRoute('')">
       <img src="../assets/images/banners/Infigrade_original_logo.png" class="infigrade__header__logo__icon">
      </div>
      <div class="col-8 infigrade__header__moreinfo">
           <span (click)="navigatetoGivenRoute('courses')">
              Courses
           </span>
           <span (click)="navigatetoGivenRoute('aboutus')">
              About us
           </span>
      </div>
  </section>
</header>
<router-outlet></router-outlet>
  <footer>
    <div class="footer">
      <div class="row m-0">
        <div class="col-md-4">
              <div class="col-sm-12 list-group">
                <h6>Connect with us</h6>
                <div class="contacts">
                    <i class="fa fa-facebook-square contacts__item" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square contacts__item" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square contacts__item" aria-hidden="true"></i>
                    <i class="fa fa-youtube-square contacts__item" aria-hidden="true"></i>
                    <i class="fa fa-instagram contacts__item" aria-hidden="true"></i>
                </div>
              </div>
        </div>
      <div class="col-md-8">
          <div class="row m-0">
              <div class="col-md-6 p-0">
                <ul class="list-group custom-footer-list">
                    <li><h6>Call Us</h6></li>
                    <li class="contacts">
                      <img src="../assets/images/india.svg" height="20">
                      <p class="contacts__number">+91 9108388493</p> 
                    </li>
                  </ul>
              </div>
              <div class="col-md-6 p-0 mailfooterlist">
                  <ul class="list-group custom-footer-list">
                    <li><h6>Email</h6></li>
                    <li class="email"><i class="fa fa-envelope-o email__mail" aria-hidden="true"></i> info@infigrade.com</li>
                    <li class="email"><i class="fa fa-envelope-o email__mail" aria-hidden="true"></i> support@infigrade.com</li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row address">
        <div><b>Address</b></div>
        <div>Ashirwad Towers, No 75/11, II Floor, 2nd Main Rd, Vyalikaval, Kodandarampura, Malleshwaram, Bengaluru, Karnataka 560003</div>
      </div>
      <hr class="disclaimerseprator">
      <div class="row copyrights">
          Copyright © 2019 - 20 Infigrade. All rights reserved.
      </div>
    </div>
  </footer>
</div>

