.courses{
  background: url(../../../assets/images/courses.jpg);
  height: 400px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__overlay{
    opacity: .85;
    background-image: linear-gradient(-180deg,rgba(0,0,0,.46) 0,#000 100%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
  &__content{
    color: #fff;
    z-index: 1;
    font-size: 19px;
    text-align: center;
  }
}

.customcard{
  margin:10px 0;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  &__title{
    padding: 0 0 0 10px;
    font-size: 14px;
    font-weight: 600;
  }
}

.coursecontainer{
  padding: 35px 0;
  &__input{
    outline: none;
    box-shadow: none;
  }
  &__search{
    background: #00a4ff;
    color:#fff;
  }
  &__title{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    h3{
      border-bottom:3px solid #5a42b3;
    }

  }
}




.card {
  padding: 10px 5px;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,0.16);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  transition: transform .2s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #3875c126;
  &__title{
    color: #444;
    font-size: 14px;
  }
}
.card h2, p{
  text-align: center;
}
.subtitle {
  margin-top: -20px;
}
.photo-container {
  padding: 1.25rem;
}
svg {
  margin-top: -10px;
  fill: #fff;
}
.description {
  padding: 2rem 1rem 0 1rem;
}
.card:hover .card-overlay{
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.5);
  transform: scale(1.12);
  height: 20%;
}
.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 0;
  transition: .5s ease;
  overflow: hidden;
}
.card-overlay-heading {
  padding-top: 1rem;
  left: 50%;
  position: absolute;
  color: #141414;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

@media only screen and (min-width: 320px) {
  .courses{
    &__content{
      font-size: 14px;
    }
  }
}


@media only screen and (min-width: 480px) {
  .courses{
    &__content{
      font-size: 14px;
    }
  }
}


@media only screen and (min-width: 600px) {
  .courses{
    &__content{
      font-size: 14px;
    }
  }
}


@media only screen and (min-width: 900px) {
  .courses{
    &__content{
      font-size: 16px;
    }
  }
}
