.customcard{
  margin:10px 0;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  &__title{
    padding: 0 0 0 10px;
    font-size: 14px;
    font-weight: 600;
  }
}

.coursecontainer{
  padding: 10px 0;
  &__input{
    outline: none;
    box-shadow: none;
  }
  &__search{
    background: #00a4ff;
    color:#fff;
  }
}
