<div class="courses">
  <div class="courses__overlay"></div>
  <div class="container courses__header"> Learn From Excellent IT Industrial Experts.</div>
  <div class="container courses__paragraph1">
    Infigrade Private Limited is one of the leading training providers based in Bangalore, India. We help students, professionals and corporate across all industries sectors to achieve their career goals.

      Infigrade focuses on students and looking for an opportunity to benefit them a platform to gain valuable skills, experience and knowledge which can be applicable in professional environment.
  </div>
</div>

<div class="container coursecontainer">
  <div class="row m-0 coursecontainer__title">
    <h3>Infigrade Offers </h3>
  </div>
  <div class="row m-0 pt-4">
    <div class="col-md-6 col-lg-4" *ngFor="let course of listOfCourses;let i=index;">
       <!-- <div class="card customcard">
             <img [src]="course.imageUrl" height=50 width=50>
             <p class="customcard__title">{{course.name}}</p>
       </div> -->
       <div class="card">
          <div class="photo-container">
              <img [src]="course.imageUrl" height=50 width=50>
          </div>
          <div class="card__title">{{course.name}}</div>
          <div class="card-overlay">
              <div class="card-overlay-heading">Know More..</div>
          </div>
         </div>
      </div>
  </div>
  <div class="row m-0 why">
     <p class="why__question">Why infigrade?</p>
    <ul class="why__answer">
      <li>
          Our course is much focused-on student requirement and industry ready. 
      </li>
      <li> mock exams and placement-oriented training. </li>
      <li> We limit the batch size to provide very good interaction. </li>
      <li>
          Expert level trainers who are working in top MNC''s.
      </li>
      <li>
          Excellent training at affordable fees.
      </li>
      <li>
          we are the fastest growing training institute 
      </li>
      <li>
          As part of the training, you will get Course completion certificate.
      </li>
    </ul>
     
      
      
      
      
      
  </div>
</div>
