<div class="container coursecontainer">
  <!-- <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
          <input type="text" [(ngModel)]="searchName" class="form-control coursecontainer__input">
          <div class="input-group-prepend">
            <span class="input-group-text coursecontainer__search">Search</span>
          </div>
        </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-3" *ngFor="let course of listOfCourses;let i=index;">
       <div class="card customcard">
             <img [src]="course.imageUrl" height=50 width=50>
             <p class="customcard__title">{{course.name}}</p>
       </div>
    </div>
  </div>
</div>
